.Header-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.nav-bar li {
  margin: 5px;
  padding: 10px;
}
.card-container {
  width: 200px;
  border: 1px solid blue;
}

.card-container:hover {
  transform: scale(1.03);
  border: 2px solid orange;
  cursor: pointer;
}
.card-logo {
  width: 190px;
  height: 190px;
  border: 1px solid rgb(0, 255, 102);
  display: block;
  margin: 5px auto 0;
}
.card-text {
  text-align: center;
  line-height: 1;
  overflow-wrap: anywhere;
}
.card-container-main {
  display: flex;
  gap: 5;
  flex-wrap: wrap;
}
.btnsearch {
  margin: 10px;
}
.find-bar {
  margin: flex;
  justify-content: space-between;
}
